
.scrollable {
    -webkit-transform: translate3d(0,0,0);
}

.scrollability-scrollbar {
    position: absolute;
    top: 0;
    right: 2px;
    width: 7px;
    height: 1px;
    z-index: 2147483647;    
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-box-sizing: border-box;
    -webkit-transform-origin: top left;
    background: url(scrollbar-mid.png) no-repeat;
}
